body{
    padding: 25px;
    font-family: Arial;
    background: #f0f0f0;
    text-align: center;
    padding: 50px;
  }
  .title {
      color: #5C6AC4;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background: #00b9f5;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #output {
    margin-top: 30px;
    font-size: 18px;
    color: #333;
  }