name: Build and deploy Node.js app to Azure Web App - abhishek

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7EFC3F6D94CA4F8B90A63F09938F0138 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_399D909309D64247AA77F42568B322CF }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_BCDDFDB9890849D5AB9F973C7B94C63D }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'abhishek'
          slot-name: 'Production'
          package: .
